<%
	url_back = url_back.present? ? url_back : request.referer
	text_back = text_back.present? ? text_back : 'Batal'
	text_submit = text_submit.present? ? text_submit : 'Simpan'
	position_class = position_class.present? ? position_class : 'float-right'
	data_confirm = data_confirm.present? ? data_confirm : nil

	submit_attributes = {
		class: 'btn btn-bg green'
	}

	if data_confirm.present?
		submit_attributes['data-confirm'] = data_confirm
	end
%>
<div class="action-bar on-bottom margin-bottom-sm-4 margin-bottom-xs-4">
	<div class="container-fluid">
		<div class="content-section bigger">
			<div class="action-button <%= position_class %>">
				<% if url_back != 'hide' %>
					<%= link_to content_tag(:span, text_back, class: 'textual'), url_back, class: 'btn btn-border disinblock' %>
				<% end %>
				<%= content_tag(:div, submit_tag(text_submit, submit_attributes), class: 'btn-group disinblock') %>
			</div>
		</div>
	</div>
</div>