<%
	title_for_layout = @title_for_layout.present? ? @title_for_layout : ''
	
	if @breadcrumb.present?
%>
<div class="action-bar on-top hidden-print">
	<div class="container-fluid">
		<%= render('layouts/header/btn') %>
		<div class="big-breadcrumb hbox">
			<% @breadcrumb.each do |crumb| %>
				<% label = crumb[:label] %>
				<% url = crumb[:url] %>
				<a href="<%= url %>" class="breadcrumb-list hidden-xs"><%= label %></a>
		    	<span class="breadcrumb-separator prm-angle-right hidden-xs"></span>
			<% end %>

			<% if title_for_layout.present? %>
		    	<h5 class="breadcrumb-list breadcrumb-list_current"><%= title_for_layout %></h5>
			<% end %>
		</div>
	</div>
</div>
<% end %>