<%
	breadcrumb_btns = @breadcrumb_btns.present? ? @breadcrumb_btns : ''

	if breadcrumb_btns.present?
%>
<div class="action-button float-right">
	<div class="btn-group disinblock">
		<% breadcrumb_btns.each do |breadcrumb_btn| %>
			<% label = breadcrumb_btn[:label] %>
			<% url = breadcrumb_btn[:url] %>
			<% dropdown = breadcrumb_btn[:dropdown] %>
			<% attributes = breadcrumb_btn[:attributes] || {} %>

			<% if dropdown.present? and dropdown.count > 0 %>
				<% label += "&nbsp;&nbsp;&nbsp;"+icon_prm('prm-angle-bottom', 'i') %>
				<%= application__call_dropdown_action(dropdown, content_tag(:div, content_tag(:label, label.html_safe, {class: 'textual'}), class: 'btn btn-border')) %>
			<% else %>
				<%
					parameters = {
						class: 'btn btn-border',
						format: 'xlsx'
					}

					parameters = parameters.merge(attributes)
				%>
				<%= link_to(content_tag(:span, label, {class: 'textual'}), url, parameters) %>
			<% end %>
		<% end %>
	</div>
</div>
<% end %>