<div class="section-form">
	<%= form_tag(@url_form, method: "post", 'data-remote': 'true', 'multipart': true, :authenticity_token => true) do %>
	<div class="content-section">
		<div class="content-with-annotation">
			<div class="col-lg-3 padding-side-xs-0">
				<div class="padding-vert-lg-4 padding-bottom-sm-4 padding-bottom-xs-4">
					<h6>Informasi Dasar</h6>
					<p class="margin-top-md-1 margin-bottom-sm-0 margin-bottom-xs-0 cgray2">Lengkapi form rumah sakit sesuai data kebutuhan </p>
				</div>
			</div>
			<div class="col-lg-9 padding-side-xs-0">
				<div class="content-block">
                    <div class="content-input">
						<label for="" class="content-label">Nama Rumah Sakit</label>
                        <div class="select-group-wrapper">
						<%= 
							render('partial/json_field_item', {
								'field_name': :hospital_id,
								'model_name': 'room',
								'is_select': {
                                    empty: 'Pilih rumah sakit',
                                    options: @hospitals,
                                },
								'object': @room,
								'errors': @room['errors'],
							}) 	
						%>
                        </div>
					</div>
                    <div class="content-input">
						<label for="" class="content-label">Nama Ruangan</label>
						<%= 
							render('partial/json_field_item', {
								'field_name': :name,
								'model_name': 'room',
								'type': 'text',
								'object': @room,
								'errors': @room['errors'],
							}) 	
						%>
					</div>
                </div>
            </div>
        </div>
    </div>
    <%= render("partial/submit", { url_back: rooms_path }) %>
    <% end %>
</div>